@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
page { 
  min-height: 100vh;
  font-family: PingFangSC-Regular, PingFang SC;
  background-color: #f0f2f5;
}